.activeitem-0 {
  -webkit-animation-name: list;
          animation-name: list;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.activeitem-1 {
  -webkit-animation-name: list;
          animation-name: list;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.activeitem-2 {
  -webkit-animation-name: list;
          animation-name: list;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.activeitem-3 {
  -webkit-animation-name: list;
          animation-name: list;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.activeitem-4 {
  -webkit-animation-name: list;
          animation-name: list;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.activeitem-5 {
  -webkit-animation-name: list;
          animation-name: list;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.activeitem-6 {
  -webkit-animation-name: list;
          animation-name: list;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes list {
  0% {
    left: -1000px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes list {
  0% {
    left: -1000px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
/*# sourceMappingURL=Home.css.map */